<section class="product-slider">
    <div class="upper-section">
        <h2>Nos meilleures ventes</h2>
        <div class="btn-container">
            <button class="btn btn-swiper" ><img src="/assets/icons/chevron-left.svg" alt="navigate-left"></button>
            <button class="btn btn-swiper" ><img src="/assets/icons/chevron-right.svg" alt="navigate-right" ></button>
        </div>
    </div>
    <swiper-container 
    id="swiper"
    slides-per-view="4" 
    loop="true"
    autoplay="true"
      >
      @for (product of products; track product.id) {
        <swiper-slide>
          <app-product-card [product]="product"></app-product-card>
        </swiper-slide>
      }
    </swiper-container>
  </section>