@import '../../shared/styles/buttons.scss';

header {
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:8px 32px;
    box-sizing: border-box;
}

ul {
    display:flex;
    align-items: center;
    gap:16px;

    li {
        cursor:pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.logo {
    width:50px;
    cursor: pointer;
}

.bi {
    font-size:28px;
}

.cart-icon {
    position:relative;
}

.cart-items {
    position:absolute;

}

.category-navigation {
    display:flex;
    justify-content: center;

    ul li {
        font-weight:600;
    }
}