<header>
    <img src="https://placehold.co/400" alt="logo" class="logo" routerLink="">
    <nav>
        <ul>
            <li routerLink="">Nos Produits</li>
            <li routerLink="">Link 2</li>
            <li routerLink="">Link 3</li>
            <li >
                @if (isLogedIn) {
                    <i class="bi bi-person-fill" routerLink="mon-compte"></i>
                } @else {
                    <i class="bi bi-person-fill" routerLink="connexion"></i>
                }
            </li>
            @if (isLogedIn) {
            <li>
                <i class="bi bi-power" (click)="logout()"></i>
            </li>
            }
            <li routerLink="panier"><i class="bi bi-bag-fill cart-icon"></i><span class="cart-items">({{totalQuantity}})</span></li>
        </ul>
    </nav>
</header>